.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 85%;
  width: 80%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal--close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal--images {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 5px 40px;
}

.photo-details-modal--image {
  max-width: 94%;
  margin: 0 3% 5px;
}

.photo-details-modal--top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 40px 0 0 3%;
  width: 90%;
}

.photo-details-modal--top-icon {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-left: 40px;
  max-height: 5px;
}

.photo-details-modal--user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5%;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

.photo-details-modal--user-details {
  display: flex;
}

.photo-details-modal--user-info {
  margin-top: 0;
  font-weight: 700;
  font-size: 12px;
  margin-left:8px;
}

.photo-details-modal--user-location {
  color: #838383;
  margin: 0;
}