.photo-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}